/* .section {
  padding-top: 120px;
  padding-bottom: 120px;
} */
/* .section-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
} */
/* #region Header */
/* #endregion Header */

/* #region Hero */
/* #endregion Hero */

/* #region About */
/* #endregion About */

/* #region Our team */
/* #endregion Our team */

/* #region Portfolio */
/* #endregion Portfolio */

/* #region Footer */
/* #endregion Footer */

/* #region Modal */
/* Це під питанням .modal-textarea-label {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
} */
/* #endregion Modal */
