body {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  color: #434455;
  background-color: #fff;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* common */
.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

/* #region Header */
.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-list,
.contacts {
  display: none;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-logo-accent {
  color: #2e2f42;
}

.nav-logo {
  padding: 16px 0;
  display: block;
}

.burger-btn {
  padding: 0;
  border: none;
  background-color: transparent;
}

.burger-btn-icon {
  display: block;
  fill: #2f2f37;
}

@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }

  .header-nav {
    display: flex;
    align-items: center;
  }

  .nav-logo {
    padding: 24px 0;
    margin-right: 120px;
  }

  .nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .nav-link {
    font-weight: 500;
    letter-spacing: 0.02em;
    color: #2e2f42;
    display: block;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-link.current {
    position: relative;
    color: #404bbf;
  }

  .nav-link.current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
  }

  .contacts {
    font-style: normal;
    display: block;
  }

  .nav-link:hover,
  .nav-link:focus,
  .contacts-link:hover,
  .contacts-link:focus {
    color: #404bbf;
  }

  .contacts-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .contacts-link {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media screen and (min-width: 1158px) {
  .nav-logo {
    margin-right: 76px;
  }

  .contacts-list {
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }

  .contacts-link {
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}
/* #endregion Header */

/* #region Mobile menu */
@media screen and (max-width: 767px) {
  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: #fff;
    transform: translateX(100%);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: translateX(0);
  }

  .mobile-menu-container {
    position: relative;
    padding-top: 72px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .mobile-menu-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    padding: 0;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #e7e9fc;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobile-menu-close-btn:hover,
  .mobile-menu-close-btn:focus {
    background-color: #404bbf;
    border: none;
    border-color: transparent;
  }

  .mobile-menu-close-icon {
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobile-menu-close-btn:hover > .mobile-menu-close-icon,
  .mobile-menu-close-btn:focus > .mobile-menu-close-icon {
    fill: #fff;
  }

  .mobile-menu-nav {
    margin-bottom: auto;
  }

  .mobile-nav-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .mobile-nav-link {
    display: block;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .current {
    color: #404bbf;
  }

  .mobile-menu-contacts {
    margin-bottom: 48px;
  }

  .mobile-contacts-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .mobile-contacts-link {
    display: block;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobile-nav-link:hover,
  .mobile-nav-link:focus,
  .mobile-contacts-link:hover,
  .mobile-contacts-link:focus {
    color: #404bbf;
  }

  .mobile-menu-social-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
  }

  .mobile-social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobile-social-link:hover,
  .mobile-social-link:focus {
    background-color: #404bbf;
  }

  .mobile-social-icon {
    fill: #f4f4fd;
  }
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
/* #endregion Mobile menu */

/* #region Hero */
.hero {
  background-color: #2e2f42;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    image-set(
      url(../images/bg-images/hero-bg-mobile.jpg) 1x,
      url(../images/bg-images/hero-bg-mobile@2x.jpg) 2x
    );
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 320px;
  margin: 0 auto;
  padding-top: 72px;
  padding-bottom: 72px;
}

.hero-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  text-transform: capitalize;
  margin: 0 auto;
  margin-bottom: 72px;
  max-width: 216px;
}

.hero-title-accent {
  text-transform: lowercase;
}

.hero-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  min-width: 169px;
  display: block;
  margin: 0 auto;
  padding-top: 16px;
  padding-bottom: 16px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      image-set(
        url(../images/bg-images/hero-bg-tablet.jpg) 1x,
        url(../images/bg-images/hero-bg-tablet@2x.jpg) 2x
      );
    max-width: 768px;
    padding-top: 112px;
    padding-bottom: 112px;
  }

  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    margin-bottom: 36px;
    max-width: 496px;
  }
}

@media screen and (min-width: 1158px) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      image-set(
        url(../images/bg-images/hero-bg-desktop.jpg) 1x,
        url(../images/bg-images/hero-bg-desktop@2x.jpg) 2x
      );
    max-width: 1440px;
    padding-top: 188px;
    padding-bottom: 188px;
  }

  .hero-title {
    margin-bottom: 48px;
  }
}
/* #endregion Hero */

/* #region About us */
.section {
  padding-top: 96px;
  padding-bottom: 96px;
}

.about-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 72px;
}

.about-item {
  width: 100%;
}

.about-icon {
  display: none;
}

.about-subtitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  margin-bottom: 8px;
}

.about-text {
  font-weight: 500;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
  .about-list {
    row-gap: 72px;
    column-gap: 24px;
  }

  .about-item {
    width: calc((100% - 24px) / 2);
  }

  .about-subtitle {
    text-align: start;
  }
}

@media screen and (min-width: 1158px) {
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .about-list {
    gap: 24px;
  }

  .about-item {
    width: calc((100% - 72px) / 4);
  }

  .about-icon {
    border: 1px solid #8e8f99;
    border-radius: 4px;
    background-color: #f4f4fd;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 264px;
    height: 112px;
    margin-bottom: 8px;
  }

  .about-subtitle {
    margin-bottom: 8px;
  }
}

/* #endregion About us */

/* #region Our team */
.team {
  background-color: #f4f4fd;
}

.section-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
}

.team-title {
  margin-bottom: 72px;
}

.team-card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}

.team-card-item {
  width: 100%;
  background: #fff;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-card-box {
  padding: 32px 0;
  text-align: center;
}

.team-card-title {
  margin-bottom: 8px;
}

.team-card-text {
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.team-card-social-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.team-card-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-card-social-link:hover,
.team-card-social-link:focus {
  background-color: #404bbf;
}

.team-card-social-icon {
  fill: #f4f4fd;
}

@media screen and (max-width: 767px) {
  .container.container-mini {
    max-width: 294px;
    padding: 0 15px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .container.container-mini {
    max-width: 582px;
    padding: 0 15px;
  }

  .team-card-list {
    /* display: flex;
    flex-wrap: wrap; */
    column-gap: 24px;
    row-gap: 64px;
  }

  .team-card-item {
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .team-card-list {
    gap: 24px;
  }

  .team-card-item {
    width: calc((100% - 72px) / 4);
  }
}
/* #endregion Our team */
